body 
{
    background-color: #f7f5f0;
    font-family: 'Courier New', Courier, monospace; 
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
}

.search-container
{
    width: 100%;
    max-width: 700px;
    text-align: center;
}

.search-label
{
    font-size: 24px;
    font-weight: bold;
}

.search-box
{
    background: white;
    border: 2px solid #333;
    padding: 5px;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    box-shadow: 4px 4px 0px rgba(0,0,0,0.1); 
    border-radius: 7px;
}

input 
{
    width: 100%;
    padding: 15px;
    border: none;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Helvetica', sans-serif;
    background: transparent;
    outline: none;
}

button 
{
    background-color: rgb(0, 0, 0);
    color: white;
    border: none;
    font-size: 20px;
    cursor: pointer;
    padding: 12px 20px;
    border-radius: 4px;
    margin-left: 5px;
}

.status-text 
{
    font-size: 14px;
    color: #797878;
    margin-bottom: 20px;
    font-style: italic;
    height: 20px;
}


table 
{
    width: 100%;
    border-collapse: collapse;
    border: 3px solid #000;
    background: white;
    table-layout: fixed;
}

th 
{
    background-color: #1a1a1a; 
    color: white;
    padding: 15px;
    text-transform: uppercase;
    font-family: 'Helvetica', sans-serif;
    letter-spacing: 1px;
    font-size: 14px;
}

td 
{
    border: 1px solid #000;
    padding: 15px;
    font-size: 18px;
    color: #333;
    word-wrap: break-word;
}

.hidden 
{
    display: none; 
}

@media(max-width: 600px)
{
    body
    {
        align-items: flex-start;
        padding-top: 50px;
    }

    th 
    {
        font-size: 11px;
        padding: 10px;
    }

    td 
    {
        font-size: 13px;
        padding: 10px;
    }

    button 
    {
        padding: 10px 15px;
        font-size: 18px;
    }
}