body 
{
    background-color: #f7f5f0;
    font-family: 'Courier New', Courier, monospace; 
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.search-container
{
    width: 100%;
    max-width: 700px;
    text-align: center;
}


.search-box
{
    background: white;
    border: 2px solid #333;
    padding: 10px;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    box-shadow: 4px 4px 0px rgba(0,0,0,0.1); 
}

input 
{
    width: 100%;
    padding: 15px;
    border: none;
    font-size: 14.5px;
    font-weight: bold;
    font-family: 'Helvetica', sans-serif;
}

button 
{
    background: none;
    background-color: rgb(0, 0, 0);
    color: white;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

.status-text 
{
    font-size: 14px;
    color: #666;
    margin-bottom: 20px;
    font-style: italic;
    height: 20px;
}


table 
{
    width: 100%;
    border-collapse: collapse;
    border: 3px solid #000;
    background: white;
}

th 
{
    background-color: #1a1a1a; 
    color: white;
    padding: 15px;
    text-transform: uppercase;
    font-family: 'Helvetica', sans-serif;
    letter-spacing: 1px;
    font-size: 14px;
}

td 
{
    border: 2px solid #000;
    padding: 20px;
    font-size: 18px;
    color: #333;
}

.hidden 
{
    display: none; 
}